<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="C:\Projects\OTFListener\OTFListener\"/>
    <add key="OTF_Listener_Port" value="9661"/>
    <add key="OPT_Listener_Port" value="9660"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>