<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path" value="C:\Projects\OTFListener\OTFListener\" />
    <add key="OTF_Listener_Port" value="9661" />
    <add key="OPT_Listener_Port" value="9660" />
    <!--<add key="LocalUrlAcl" value="192.168.85.117" />-->
    <add key="SecurityLevel" value="HTTPS" />
    <add key="CertFileName" value="C:\Projects\OTFListener\OTFListener\_.safeway02.ad.safeway.com.pfx" />
    <add key="CertFilePassword" value="RITM1124155-ACI" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="certstorename" value="" />
    <add key="MobileServerURLOrIP" value="192.168.85." />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>